@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 975px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: "Mochiy Pop P One", sans-serif;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
